%h1== Classifications (#{Classification.count} total)
- if @search_term
  %h3== Searh term: '#{@search_term}'
%table
  %tr
    %th Title
    %th Authors
    %th Description
    %th Updated
    %th History
  - @classifications.each do |c|
    %tr
      %td
        %a{ :href => classificaton_file(c) }= c.title
      %td= c.authors.map {|a| a.first_name + " " + a.last_name}.join(", ")
      %td= c.description
      %td= c.updated_at.strftime('%Y-%m-%d %H:%M:%S')
      %td
        %a{ :href => "/history/#{c.id}" }
          all revisions 
  
