%h1
  == #{'Found ' if @search_term}Classifications (#{@total_rows} total)
- if @search_term
  %h3== Search term: '#{@search_term}'
%p We urge users of these classifications to acknowledge their authors. No classification should be used in its entirety without first obtaining permission from the source.
%table#classifications
  %tr
    %th Title
    %th Authors
    %th Description
    %th Updated
    %th Details
  - count = 0
  - is_last = nil
  - @classifications.each do |c|
    - count += 1
    - is_last = "last" if count == @classifications.size
    %tr
      %td{ :class => is_last }
        %a{ :href => classificaton_file(c) }= c.title
      %td.authors{ :class => is_last }= c.authors.sort_by {|a| a.last_name.downcase}.map {|a| a.first_name + " " + a.last_name}.join(", ")
      %td.desc{ :class => is_last }= c.description
      %td{ :class => is_last }= c.updated_at.strftime('%Y-%m-%d %H:%M:%S')
      %td{ :class => is_last }
        %a{ :href => "/classification/#{c.id}" }
          all revisions 
  
