%h1
  == #{'Found ' if @search_term}Classifications (#{@total_rows} total)
- if @search_term
  %h3== Search term: '#{@search_term}'
%table#classifications
  %tr
    %th Title
    %th Authors
    %th Description
    %th Updated
    %th Details
  - @classifications.each do |c|
    %tr
      %td
        %a{ :href => classificaton_file(c) }= c.title
      %td= c.authors.sort_by {|a| a.last_name.downcase}.map {|a| a.first_name + " " + a.last_name}.join(", ")
      %td.desc= c.description
      %td= c.updated_at.strftime('%Y-%m-%d %H:%M:%S')
      %td
        %a{ :href => "/classification/#{c.id}" }
          all revisions 
  
