%table
  %thead
    %tr
      %th #
      %th File
      %th Message
  %tbody
    - @commits.each_with_index do |c, i|
      %tr
        %td= i
        %td
          %a{ :href => "/classification_file/#{@classification.id}/#{c[:tree_id]}" }
            = c[:file_name]
        %td= c[:message]
